<div class="input-wrapper" data-bind="blockLoader: isLoading">
    <input class="input-text" type="text" data-bind="
    value: value,
    valueUpdate: 'keyup',
    hasFocus: focused,
    attr: {
        name: inputName,
        placeholder: placeholder,
        'aria-describedby': getDescriptionId(),
        'aria-required': required,
        'aria-invalid': error() ? true : 'false',
        id: uid,
        disabled: disabled
    }" />
    <button data-bind="click: updatePostcode">
        <span data-bind="i18n: 'Get Postcode'"></span>
    </button>
</div>